body {
  color: blue;
}

.black-border {
  border: 5px solid black;
}

#green-background {
  background-color: green;
  color: black;
}

.link {
  border: 2px solid green;
  font: normal 14px Helvetica;
  color: black;
}

.steden {
  color: green;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-stretch: semi-expanded;
}

.dorpen {
  background-color: grey;
  background-position: left;
  color: azure;
  font-weight: bold;
}

#yellowbackground {
  background-color: yellow;
  border: 3px solid green;
}
